footer {
    background: var(--color-dark);
    width: 100%;
    padding: 1.6rem 3rem;
}

footer .logo {
    margin: auto;
    width: 9rem;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 0 4rem;
}

footer ul li a {
    font-size: 4.6rem;
    font-weight: 900;
    color: var(--color-light);
}

footer h3 {
    color: var(--color-light);
    text-align: center;
    margin-bottom: 0;
}

footer ul li a:hover {
    color: var(--color-gray);
}

@media only screen and (max-width: 900px) {
    footer ul {
        text-align: center;
    }

    footer ul li {
        padding: 0 2rem;
    }
}